<?xml version="1.0" encoding="utf-8" ?>
<!-- 
	WARNING: this file is machine-dependent, should never be deployed! 
-->
<settings>
  <!--Sergio's-->
	<!--<add key="connection_string" value="data source=(local)\SQLEXPRESS;initial catalog=SETGO;user id=sa;password=Pa$$w0rd;" />-->
  
  <!--Isai's-->
  <!--<add key="connection_string" value="data source=(local)\SQLSERVER;initial catalog=testCascaron; Integrated Security=true;" />-->
  
  <!--Erik's-->
  <add key="connection_string" value="data source=(local)\SQLEXPRESS;initial catalog=SETGO;user id=sa;password=P@$$w0rd;" />
  
  <!--###### PRODUCTION ######-->
  <!--<add key="connection_string" value="Data Source=SQL5018.SmarterASP.NET;Initial Catalog=DB_A1DF10_SETGO;User Id=DB_A1DF10_SETGO_admin;Password=1234qwer;" />-->

  <!-- desarrollador webSite -->
  <!--<add key="connection_string" value="data source=SQL6001.SmarterASP.NET;Initial Catalog=DB_A25104_desarrollador;User Id=DB_A25104_desarrollador_admin;Password=1234qwer;"/>-->
    
</settings>