<?xml version="1.0" encoding="utf-8"?>
<!-- 
	IMPORTANT: this file will be deployed, so cannot have machine-dependent settings
				(use the Properties.config file to define machine-dependent values)
-->
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper">

	<!-- import properties file -->
	<properties resource="Properties.config" />

	<!-- general settings -->
	<settings>
		<setting cacheModelsEnabled="true" />
		<setting useStatementNamespaces="false" />
		<setting validateSqlMap="true" />
		<setting useReflectionOptimizer="true" />
	</settings>

	<!-- import providers definitions -->
	<providers embedded="WebApplicationTemplate.DAL.Providers.config" />

	<!-- configure database access -->
	<database>
		<provider name="sqlServer4.0"/>
		<dataSource name="WebApplicationTemplate" connectionString="${connection_string}" />
	</database>

	<!-- import SQL maps to the static mapper instance -->
	<sqlMaps>
		<sqlMap embedded="WebApplicationTemplate.DAL.Security.ElementDAL.xml" />
		<sqlMap embedded="WebApplicationTemplate.DAL.Security.InterfaceDAL.xml" />
		<sqlMap embedded="WebApplicationTemplate.DAL.Security.ProfileDAL.xml" />
		<sqlMap embedded="WebApplicationTemplate.DAL.Security.UserDAL.xml" />

    <sqlMap embedded="WebApplicationTemplate.DAL.CarreraMAP.xml" />
    <sqlMap embedded="WebApplicationTemplate.DAL.CategoriaMAP.xml" />
    <sqlMap embedded="WebApplicationTemplate.DAL.EquipoMAP.xml" />
    <sqlMap embedded="WebApplicationTemplate.DAL.ParticipantesMAP.xml" />
    <sqlMap embedded="WebApplicationTemplate.DAL.ParticipanteXCarreraMAP.xml" />
    <sqlMap embedded="WebApplicationTemplate.DAL.RamaMAP.xml" />    
    <sqlMap embedded="WebApplicationTemplate.DAL.ResultadosMAP.xml" />
    <sqlMap embedded="WebApplicationTemplate.DAL.RutaMAP.xml" />
    <sqlMap embedded="WebApplicationTemplate.DAL.TipoEquipoMAP.xml" />
    <sqlMap embedded="WebApplicationTemplate.DAL.PaypalConfigMAP.xml" />
    <sqlMap embedded="WebApplicationTemplate.DAL.ControlXCarreraMAP.xml" />
    <sqlMap embedded="WebApplicationTemplate.DAL.SMTPConfigMAP.xml" />
		<sqlMap embedded="WebApplicationTemplate.DAL.ConfiguracionResultadosMAP.xml" />

  </sqlMaps>

</sqlMapConfig>



