<?xml version="1.0" encoding="utf-8"?>
<!-- 
	IMPORTANT: this file will be deployed, so cannot have machine-dependent settings
-->
<configuration>
	<configSections>
 </configSections> 
 <system.web>

		<authentication mode="Forms">
			<forms loginUrl="Default.aspx" protection="All" timeout="30" name=".ASPXAUTH" defaultUrl="~/Pages/Home.aspx" cookieless="UseCookies" path="/WebApplicationTemplate" requireSSL="false" slidingExpiration="true" enableCrossAppRedirects="false"  >
			</forms>
		</authentication>
    
    <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="AES" decryption="3DES"/>

		<compilation debug="true" targetFramework="4.0" />

		<authorization>
			<deny users="*"/>
		</authorization>

		<pages>
			<controls>
				<add tagPrefix="C" tagName="Menu" src="~/Controls/Menu.ascx"/>
			</controls>
		</pages>
	</system.web>

  <!--Web Setttings-->
  <appSettings file="WebSettings.config"/>

  <location path="Resources">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Services">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<location path="Pages">
		<system.web>
			<authorization>
				<deny users="?" />
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
  
  <location path="PublicPages">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>

 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="UserValidationsSoap" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://www.macrolynk.com/MacrolynkAlpha/WebService/UserValidations.asmx"
    binding="basicHttpBinding" bindingConfiguration="UserValidationsSoap"
    contract="MLWSUserValidations.UserValidationsSoap" name="UserValidationsSoap" />
  </client>
 </system.serviceModel>
</configuration>
