<?xml version="1.0"?>
<!--  
  WARNING: 
    - This file is machine-dependent, should never be deployed! 
    - In this file never should be defined settings dependent of business logic.
    - All keys defined in this file should be defined too in the static class 'WebApplicationTemplate.Web.Tools.WebSettings'.
-->
<appSettings> 

  <!-- URL of the MACROLYNK web service for validating the authentication. -->
  <add key="MLWSUserValidations" value="http://localhost:62401/Macrolynk/WebService/UserValidations.asmx"/>

  <!-- URL for displaying an error message to MACROLYNK users in APPS ACCESS. -->
  <add key="MLAppAccessError" value="http://localhost:62401/Macrolynk/AppsAccess.aspx?Error={0}"/>

  <!-- URL donde se encuentra el root de la aplicacion en web -->
    <!-- URL local -->
  <add key="URLApplicationPath" value="http://localhost:61880/WebApplicationTemplate" />
    <!-- URL Productivo -->
  <!--<add key="URLApplicationPath" value="http://setgosrv-001-site1.ftempurl.com" />-->


    <add key="ModePayPayRestAPI" value="sandbox"/> <!-- sandbox or live -->
    <add key="ClientIDPayPalRestAPI" value="AQCXi-7ZYtxy_0MvMMeez-JCQx4xITJSmpwKj9m3EKsoWTBFHLN9ksnHtCxx2rG3UwrXoEj2mizbE4Pp"/>
    <add key="ClientSecretPayPalRestAPI" value="EHr9h68sZYIqsIZVZcO1Xml_IOcRkt5u77jdYRJMO1UZ5POL43Pa821WJh5apDY_AyV3eiPwqNGqPzVV"/>
    
</appSettings>
