<?xml version="1.0"?>
<!--  
  WARNING: 
    - This file is machine-dependent, should never be deployed! 
    - In this file never should be defined settings dependent of business logic.
    - All keys defined in this file should be defined too in the static class 'WebApplicationTemplate.Web.Tools.WebSettings'.
-->
<appSettings> 

  <!-- URL of the MACROLYNK web service for validating the authentication. -->
  <add key="MLWSUserValidations" value="http://localhost:62401/Macrolynk/WebService/UserValidations.asmx"/>

  <!-- URL for displaying an error message to MACROLYNK users in APPS ACCESS. -->
  <add key="MLAppAccessError" value="http://localhost:62401/Macrolynk/AppsAccess.aspx?Error={0}"/>

  <!-- URL donde se encuentra el root de la aplicacion en web -->
    <!-- URL local -->
  <add key="URLApplicationPath" value="http://localhost:61880/WebApplicationTemplate" />
    <!-- URL Productivo -->
  <!--<add key="URLApplicationPath" value="http://setgosrv-001-site1.ftempurl.com" />-->


    <add key="ModePayPayRestAPI" value="live"/> <!-- sandbox or live -->
    <add key="ClientIDPayPalRestAPI" value="AT5_ffgHVUdqMys207XoN5GTuwCgfryO5LABAKys1kEspVWsnVVWFlyFQjQrcB59YAQMJIMwQcWP42Gc"/>
    <add key="ClientSecretPayPalRestAPI" value="EFqQv7V_8tbGiEFNEolRGnRKFafvqWDJ08Kd-6b2rIMSW_BpoWuo-HIGKo33mAjwXkRr1TVuiA6aH3JF"/>

    <add key="ModePayPalClassic" value="sandbox"/>
    <add key="ApiUsername" value="contacto.SEI.tech-facilitator_api1.gmail.com" />
    <add key="ApiPassword" value="PRR25LQPRV256SR6" />
    <add key="ApiSignature" value="AFcWxV21C7fd0v3bYYYRCpSSRl31A8LpSbTMqDrbFwEIq6oR12I.bqi2"/>
    <add key="PAYPAL_REDIRECT_URL" value="https://www.sandbox.paypal.com/webscr&amp;cmd="/>
	<!--<add key="HOSTING_ENDPOINT" value="http://localhost:61880/WebApplicationTemplate/PublicPages/PayPalRestAPI.aspx"/>-->
    
</appSettings>
