<?xml version="1.0"?>
<!--  
  WARNING: 
    - This file is machine-dependent, should never be deployed! 
    - In this file never should be defined settings dependent of business logic.
    - All keys defined in this file should be defined too in the static class 'WebApplicationTemplate.Web.Tools.WebSettings'.
-->
<appSettings>
  <add key ="DefaultRegistrationURL" value="~/PublicPages/RegistroParticipantes.aspx?IdCarrera="/>

  <!-- URL of the MACROLYNK web service for validating the authentication. -->
  <add key="MLWSUserValidations" value="http://localhost:62401/Macrolynk/WebService/UserValidations.asmx"/>

  <!-- URL for displaying an error message to MACROLYNK users in APPS ACCESS. -->
  <add key="MLAppAccessError" value="http://localhost:62401/Macrolynk/AppsAccess.aspx?Error={0}"/>

  <!--
  ##########################################
  SERVIDOR DE DESARROLLO
  ##########################################
  -->  
  <!-- URL desarrollador site -->
  <!--<add key="URLApplicationPath" value="http://desarrollador-001-site1.itempurl.com" />-->
    
  <!--
  ##########################################
  LOCAL
  ##########################################
  -->  
  
  <add key="URLApplicationPath" value="http://localhost:61880/WebApplicationTemplate" />
  <add key="ModePayPalClassic" value="sandbox"/>
  <add key="ApiUsername" value="contacto.SEI.tech-facilitator_api1.gmail.com" />
  <add key="ApiPassword" value="PRR25LQPRV256SR6" />
  <add key="ApiSignature" value="AFcWxV21C7fd0v3bYYYRCpSSRl31A8LpSbTMqDrbFwEIq6oR12I.bqi2"/>
  <add key="PAYPAL_REDIRECT_URL" value="https://www.sandbox.paypal.com/webscr&amp;cmd="/>
  
  <!--
  ##########################################
  PRODUCCION
  ##########################################
  -->
  
  <!--<add key="URLApplicationPath" value="http://setgosrv-001-site1.ftempurl.com" />
  <add key="ModePayPalClassic" value="live"/>
  <add key="ApiUsername" value="contacto.SEI.tech_api1.gmail.com" />
  <add key="ApiPassword" value="NHV28PXT395VLEZL" />
  <add key="ApiSignature" value="AiPC9BjkCyDFQXbSkoZcgqH3hpacAkaYPQewdlIQENk0fqaWj6nAYt4t"/>
  <add key="PAYPAL_REDIRECT_URL" value="https://www.paypal.com/webscr&amp;cmd="/>-->  
  
   <!--
  ##########################################
  -->
	<add key="Excel03ConString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};
			Extended Properties='Excel 8.0;HDR={1}'"/>
	<add key="Excel07ConString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};
			Extended Properties='Excel 12.0;HDR={1}'"/>
	<add key ="FolderPath" value ="TempFiles/"/>
  
</appSettings>
